[submodule "vim/.vim/pack/YouCompleteMe/opt/YouCompleteMe"]
	path = vim/.vim/pack/YouCompleteMe/opt/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "vim/.vim/pack/vendor/start/nerdtree"]
	path = vim/.vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
